/*---------- COLORS---------*/
/*-------DARK MODE--------*/
/*-------- TYPOGRAPHY-------*/
.text--bold {
  font-weight: 700;
}

.text--medium {
  font-weight: 500;
}

button {
  font-size: 18px;
  box-shadow: 0 8px 24px rgba(15, 106, 54, 0.16);
  border-radius: 8px;
}
button img {
  padding: 0 0 0 15px;
  text-align: right;
}
button p {
  text-align: left;
  display: inline;
}

.btn--main {
  margin: 1.5rem 0.5rem;
  padding: 12px 10px;
  background-color: #17a754;
  color: #fff;
  border: none;
  min-width: 155px;
  transition: all 0.2s ease-in-out;
}
.btn--main:hover {
  transform: scale(1.1);
}

.btn--secondary {
  margin: 1.5rem 0.5rem;
  padding: 10px 6px;
  background-color: #f7f7f7;
  color: #17a754;
  border: 3px solid #17a754;
  min-width: 155px;
  transition: all 0.2s ease-in-out;
}
.btn--secondary:hover {
  transform: scale(1.1);
}
.btn--secondary .darkMode {
  display: none;
}

.btn--delete {
  margin: 1.5rem 0.5rem;
  padding: 12px 10px;
  background-color: #A62117;
  color: #fff;
  border: none;
  min-width: 155px;
  transition: all 0.2s ease-in-out;
}
.btn--delete:hover {
  transform: scale(1.1);
}

.btn--save input {
  transition: all 0.2s ease-in-out;
}
.btn--save input:hover {
  transform: scale(1.1);
}

.btn__submit {
  display: block;
  width: 100%;
  height: 50px;
  border-radius: 8px;
  outline: none;
  border: none;
  background-image: linear-gradient(to right, #17a754, #19b35a, #1abf60, #1ccb67);
  background-size: 200%;
  font-size: 1.2rem;
  color: #fff;
  text-transform: capitalize;
  margin: 1rem 0;
  cursor: pointer;
  transition: 0.5s;
  box-shadow: 0 8px 24px rgba(15, 106, 54, 0.16);
  min-width: 300px;
}
.btn__submit:hover {
  background-position: right;
}

/*----------LOGIN PAGE---------*/
.login-body {
  background-repeat: no-repeat;
  background-size: cover;
  background: #475468;
  background-image: linear-gradient(to left bottom, #17a754, #17a754, #00967f, #1c6a86, #475468);
}

.login-container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 7rem;
  padding: 0 2rem;
}
.login-container a {
  display: block;
  text-align: right;
  text-decoration: none;
  color: #fff;
  font-size: 0.9rem;
  transition: 0.3s;
}
.login-container a:hover {
  color: #44546A;
}
.login-container .img--team {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.login-container .img--team img {
  width: 500px;
}
.login-container .login {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.login-container .login__input {
  position: relative;
  display: grid;
  grid-template-columns: 7% 93%;
  margin: 25px 0;
  padding: 5px 0;
  border-bottom: 2px solid #fff;
}
.login-container .login__input .login--username {
  margin-top: 0;
}
.login-container .login__icon {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-container .login__icon i {
  transition: 0.3s;
}
.login-container .login__form {
  width: 360px;
}
.login-container .login__form h2 {
  margin: 15px 0;
  color: #fff;
  text-transform: uppercase;
  font-size: 2.9rem;
}
.login-container .login__form img {
  height: 80px;
  margin-bottom: 20px;
}
.login-container .login__input:before {
  right: 50%;
}
.login-container .login__input:after {
  left: 50%;
}
.login-container .login__input.focus:before, .login-container .login__input.focus:after {
  width: 50%;
}
.login-container .login__input > .login__text {
  position: relative;
  height: 45px;
}
.login-container .login__input > .login__text > input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background: none;
  padding: 0.5rem 0.7rem;
  font-size: 18px;
  color: #fff;
}
.login-container .login__input.login--password {
  margin-bottom: 4px;
}
.login-container .login__input > .login__text > h5 {
  position: absolute;
  letter-spacing: 1px;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  font-size: 18px;
  transition: 0.3s;
}
.login-container .login__input:before, .login-container .login__input:after {
  content: "";
  position: absolute;
  bottom: -2px;
  width: 0%;
  height: 2px;
  background-color: #44546A;
  transition: 0.4s;
}
.login-container .login__input.focus > .login__text > h5 {
  top: -5px;
  font-size: 15px;
}
.login-container .login__input.focus > .login__icon > i {
  color: #44546A;
}/*# sourceMappingURL=login.css.map */