@use '../abstracts/' as *;
/*--------DARK MODE---------*/
body.dark {
    background-color: $DM-Background;

    .body--editUser {
        background: $DM-Background url(/Images//EditUserDM.png) no-repeat bottom center;
    }
    .toggleDark__checkboxLabel {
        background: rgb(51,51,51);
        background: radial-gradient(circle, rgba(51,51,51,1) 0%, rgba(26,26,26,1) 84%); ;
    }

    h2, h3, h4, h5, p, ::placeholder, .text--large.design, .text--medium.design, .text--small.design, .btn__wrapper .text--small.design{
        color: $DM-Text;
        font-weight: normal;
    } 
    .sidemenu-wrapper {
        nav ul li a:hover {
            background: $DM-MenuHover;
        }
        nav ul li.active a {
            background: $DM-MenuHover;
        }
        nav ul ul li.active ul li a {
            background: $DM-MenuHover;
        }
        nav ul ul li a:hover {
            background: $DM-MenuHover !important;
        }
    }
    
    .breadcrumb, li+li:before, .basic-table, .listLabel th, .radio, .dropdown-select {
        color: $DM-Text;
        text-shadow: none;
    }
   
    li a {
        color: $DM-Text;
        text-decoration: none;

        &hover {
            color: $DM-Text;
            text-decoration: underline;
        }
    }
   
    .sidemenu, .listRow, .quick__box, .latest__box, .new__box, .form__content, .table__dropDown1.dark1, .table__dropDown2.dark2, .table__dropDown3.dark3, .table__dropDown4.dark4, .table__dropDown5.dark5, .table__dropDown6.dark6, .table__dropDown7.dark7 {
        background: rgb(51,51,51);
        background: radial-gradient(circle, rgba(51,51,51,1) 0%, rgba(26,26,26,1) 84%);
        box-shadow: none;
    }  
    .table--contact {
        background: $DM-Surface;
    }
    
    .form__content {
        .form input {
        background-color: $DM-bgForm ;
        border: 2px solid $DM-Background;
        }
        
        .form__details {
        color: $DM-Text;
            .input--small a {
                color: $WeuseGreen;
            }
        }
        .checkbox__holder .checkmark__span {
            background-color: $DM-bgForm ;
            border: 2px solid $DM-Background;
        }
        p a {
            color: $WeuseGreen;
        }
        .btn--save input {
            background-color: #50869A;
            color: $DM-Text;
            border: none;

            &:hover {
            box-shadow: 0 5px 18px rgb(60, 103, 119, 0.40);
            }
        }
    }
    #textarea, #categories {
        background-color: $DM-bgForm ;
        border: 2px solid $DM-Background;
    }
    textarea:focus, input:focus, select {
        color: $DM-Text
    }
    
    
    .table__cell {
        .darkMode {
            display: unset;
        }
        .lightMode {
            display: none;
        }
    }
    /*------BUTTONS------*/

    button, a {
        box-shadow: none;

        .darkMode {
            display: unset;
        }
        .lightMode {
            display: none;
        }
    }
    
    .btn--darkMode, .btn--darkMode1, .btn--darkMode2, .btn--darkMode3, .btn--darkMode4, .btn--darkMode5, .btn--darkMode6, .btn--darkMode7  {
        display: unset;
    }
    .btn--lightMode, .btn--lightMode1, .btn--lightMode2, .btn--lightMode3, .btn--lightMode4, .btn--lightMode5, .btn--lightMode6, .btn--lightMode7 {
        display: none;
    }
    .btn--close, .close-button {
        color: $DM-Text;
    }
    .btn--main {
        background-color: $WeuseGreen;
        color: $DM-Text;
        transition: all 0.2s ease-in-out;

        &:hover {
            box-shadow: 0 5px 18px rgb(15, 106, 54, 0.40);
        }
    }
    .btn--secondary {
        background-color: transparent;
        transition: all 0.2s ease-in-out;
        p {
            color: $WeuseGreen;
        }

        &:hover {  
            box-shadow: 0 5px 18px rgb(15, 106, 54, 0.40);
          }
    }
    .btn--delete {
        background-color: #DD2C00;
        color: $DM-Text;
        transition: all 0.2s ease-in-out;
        &:hover {
            box-shadow: 0 5px 18px rgb(163, 36, 4, 0.40);
        }
    }

    .search  input {
        box-shadow: none;
     
        &[type="text"]{
            background: rgb(51,51,51);
            background: radial-gradient(circle, rgba(51,51,51,1) 0%, rgba(26,26,26,1) 84%);
            color: $DM-Text
        }
    }   
    
    .totals__numbers {
        background-image: linear-gradient(to right bottom, #00796b, #258a7d, #3c9b8f, #51ada2, #65bfb5);
    }
    .btn__quick {
        background-image: linear-gradient(to left top, #649fc3, #5195c2, #3d8bc0, #2781bf, #0277bd);
        .darkMode {
            display: unset;
            float: right;
        }
        .lightMode {
            display: none;
        }
    }
    .latest__listrow {
        background-image: linear-gradient(to right, #02a77c, #059e77, #089571, #0b8d6c, #0e8466);
        a {
            color: $DM-Text;
        }
    }
    .plusIcon {
        .darkMode {
            display: unset;
            float: right;
        }
        .lightMode {
            display: none;
        }
    }
    

    /*----------DROPDOWN-------*/
    .dropdown {
        background: $DM-bgForm;
        border: 1px solid $DM-Background;
        box-shadow: none;
        &:before, &:after {
            border-color: $WeuseGreen transparent;
        }
    }
    #input--userRole .plusIcon .darkMode {
        display: unset;
    }
    #lastLogins {
        .darkMode {
        display: unset;
    }
        .lightMode {
            display: none;
        }
    }
    .table--keycode {
        background-color: $DM-mainBtn;
    } 
    /*------DROP DOWN HA/DORMS------*/

    .table--new .table__cell--flex {

        .color--green {
            background-color: #3D5AFE;
        }
        .color--red {
            background-color: #2E7D32;
        }
        .color--yellow {
            background-color: #AB47BC;
        }
    }
    /*-------DESIGN SITES-------*/

    .form__content.design {
        .btn__design {
        background-color:$DM-mainBtn;
        }
        .btn--top {
            background-color: $DM-Text;
        }
    }
    /*-------DEACTIVATED OVERLAY HOUSING ASSOCIATION------*/

    .table.deactivate {
        color: $Whale;
        &::before
        {
            box-shadow: inset 0 0 2000px rgba(184, 77, 69, .9);
            filter: blur(7px);
        }
      }
      /*-----Warning modal---------*/
    .modalLogout {
        background: $DM-Surface; 
        }
    #modalLogout {
        border-color:#DB5F00;
        
        .btn--cancel {
        background: #DB5F00;
        color: $DM-Text;
        }
        .btn--confirm {
        
        background: #DB5F00;
        color: $DM-Text;
        }
        .darkMode {
            display: block;
        }
        .lightMode {
            display: none;
        }
    }

}



