/*---------- COLORS---------*/
$BgColor: #f2f2f2;
$SurfaceColor: #f7f7f7;
$HeadingColor: #636363;
$WeuseGreen: #17a754;
$WeuseGreen40: #a2dcbb;
$WeuseGreen20: #d1eddd;
$Whale: #44546A;
$Lion: #fcc000;
$Lion60: #fdd966;
$Lion40: #fee699;
$Lion20: #fef2cc;
$White: #fff;
$MenuHover: #697688;
$lineColor: #ebebeb;
$Fox: #A62117;
$Fox20: #edd3d1;
$Warning: #F0C755;


/*-------DARK MODE--------*/
$DM-Surface: #2E3846; 
$DM-Text: #E8E8E8;
$DM-MenuHover: rgba(51, 51, 51, 0.6);
$DM-Background: #121212;
$DM-bgForm: #333;
$DM-mainBtn: #00796B;