/*-------- TYPOGRAPHY-------*/
$Heading1: 50px;
$Heading2: 38px;
$Heading3: 34px;
$Heading4: 26px;
$heading5: 24px;
$MainTextS: 16px;
$MainTextM: 18px;
$MainTextL: 24px;
$Label: 14px;

.text--bold {
    font-weight: 700;
}
.text--medium {
    font-weight: 500;

}